.TopMargin {
  margin-top: 81px;
}
.CourseTopSection {
  margin-top: 75px;

}

.Container {
  min-height: 343px;
}

.SearchContainer {
  margin-top: 80px;
  width: 100%;
}

.SearchWrapper {
  position: relative;
  width: 100%;
}

.SearchInput {
  width: 100%;
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
  margin-right: 0; 
}

@media (min-width: 766px) {
  .SearchInput {
    margin-right: 16px;
  }
}

.SearchIcon {
  position: absolute;
  left: 20px;
  top: 35%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #242a3d;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.SortingContainer {
  display: flex;
  align-items: center;
}

.SortLabel {
  margin-right: 8px;
  font-size: 1rem;
  color: #242a3d;
}

.SortSelect {
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  color: #242a3d;
}