.Info h1 {
    font-size: 3.5rem;
    padding: 30px  0;

}
.Info > p {
    margin: 20px 0 30px 10px;

}

.InteractionIcons{
    margin: 0;
}

.InteractionIcons i{
    color:#1d3d74;
}

.LearningGoals{
    padding: 50px 10px;
    margin-top: 20px;
    margin-left:0 5px;
    border-top: 1px solid #1d3d7470;
    border-bottom: 1px solid #1d3d7470;
    width: 100%;
}

.CustomCard{
    border: 1px solid #1d3d7470;
    box-shadow: 1px 1px 7px 1px #02358266;
}

.CustomCardHeader{
    border-bottom: 1px solid #1d3d7470;
    border-top: 1px solid #1d3d7470;
}

.CustomCardFooter{
    background-color: rgb(29 61 116);
}

.ListGroupItem{
    border-bottom: 1px solid #1d3d7470;
}

